_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor

/assets/pdf/raymond_cv/sty
/assets/pdf/raymond_cv/picture1.jpg
/assets/pdf/raymond_cv/q.log
/assets/pdf/raymond_cv/YufengLiu_CV.aux
/assets/pdf/raymond_cv/YufengLiu_CV.fdb_latexmk
/assets/pdf/raymond_cv/YufengLiu_CV.fls
/assets/pdf/raymond_cv/YufengLiu_CV.log
/assets/pdf/raymond_cv/YufengLiu_CV.out
/assets/pdf/raymond_cv/YufengLiu_CV.synctex.gz